<h1>Welcome to our store</h1>
<form action="/checkout" method="post">
  <p>What Item would you like to purchase: <input type="text" name="item" id ="item"> </p>
  
  <input type="submit" value="submit">
</form>
