<h1>Pruchase Form</h1>
<form action="/checkout" method="POST">
  <label for="item">Item to Purchase</label>
  <input type="text" name="item" id="item">
  <input type="submit" id="submit" value="Submit">
</form>