
<h2>Add a New One</h2>

<%# <form method="POST" action="/checkout">
  <p>Your Entry: <input type="text" name="item"></p>
  
  <input type="submit" name = "submit">
  
</form> %>

<form method="POST" action="/checkout" id="form1">
  Item: <input type="text" name="item"><br>
  
</form>

<button name="submit" type="submit" form="form1" value="submit">Submit</button>