<h1>Order Form</h1>
<form action="/checkout" method="POST">

  <label>Enter Item:</label>
  <input id="item" type="text" name="item">

  <button id="submit" type="submit" value="checkout">Checkout</button>
</form>
